<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
	<nav th:replace="layout :: header"></nav>

	<div class="container main-content list">

		<div th:replace="layout :: menuTopList(controller='contact')"></div>

		<div th:replace="layout :: alertMessage"></div>

		<th:block th:if="${#lists.isEmpty(contacts)}">
			<h3>No contacts</h3>
		</th:block>

		<input type="hidden" id="entityName" value="contact" />

		<th:block th:unless="${#lists.isEmpty(contacts)}">
			<div class="row">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>NO</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="contact,iterStat : ${contacts}">
							<td th:text="${iterStat.count}"></td>
							<td th:text="${contact.name}"></td>
							<td th:text="${contact.email}"></td>
							<td th:text="${contact.phone}"></td>
							<td><a><span data-toggle="modal"
									th:attr="data-contactId=${contact.id }"
									data-target="#formModal"
									class="editButton glyphicon glyphicon-pencil"></span></a></td>
							<td><a th:href="@{/contact/{id}/delete(id=${contact.id})}"><span
									class="glyphicon glyphicon-trash"></span></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</th:block>
	</div>
	<!-- /.container -->

	<footer th:replace="layout :: footer"></footer>
</body>
</html>