.main-content {
	margin-top: 70px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #ececec;
	line-height: 30px;
}

.list {
	
}

.form {
	max-width: 450px;
}

.row {
	margin-top: 30px;
}

.table th, td {
	text-align: center;
}

.field-error {
	border: 1px solid #ff0000;
	margin-bottom: 10px;
}

/** navbar - acount **/
.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}